body {
    font-family: Arial, sans-serif; /* Change this to your preferred font */
    color: #333; /* Change this to your preferred text color */
    background-color: #f2f2f2; /* Change this to your preferred background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes sure your body takes up the full height of the viewport */
}